@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Shadows+Into+Light+Two&display=swap');
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #111;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Shadows Into Light Two";
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    color: #666;
    line-height: 22px;
}

img {
    max-width: 100%;
}

/*Header Styling*/
header {
    max-width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#logo {
    height: 75%;
}

header h1 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 3em;
}

/*Form Styling*/
#form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 25px;
    border: 2px solid #444;
    border-radius: 6px;
}

#recipe-input {
    flex: 1;
    font-size: 1.5em;
    border: none;
    outline: none;
}

#search {
    width: 38px;
    height: 38px;
    padding: 3px;
    cursor: pointer;
    border-left: 2px solid var(--text-dark);
}


#border {
    border-bottom: solid 2px #777;
}


/*Container Styling*/
.recipe-container {
    margin: 25px 25px 10px 50px;
    border: solid 3px var(--text-dark);
    border-radius: 6px;
    padding: 25px;
    gap: 25px;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.recipe-container img {
    width: 100%;
    height: auto;
    max-width: 800px;
    grid-column: 1;
}

.recipe-text {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/*Text Styling*/
h2 {
    align-self: flex-start;
    display: inline-block;
    border: solid 1px #999;
    padding: 10px;
    color: var(--text-dark);
}

h3 a{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 2em;
}

p {
    font-size: 1.6em;
    font-weight: bold;
    color: var(--text-dark);
}


/*Footer Styling*/
footer {
    max-width: 100%;
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#attribution {
    margin-right: auto;
    padding: 50px;
}

.social {
    display: flex;
}

.social img {
    width: 100%;
    height: auto;
    max-width: 50px;
    padding: 5px;
}


/*Small Screen*/

@media (max-width: 700px) {
    .recipe-container {
        grid-template-columns: 1fr;
    }

    .recipe-container img {
        grid-column: 1;
    }

    .recipe-text {
        grid-column: 1;
    }
}
